In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [8]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = []
results = session.query(Measurement).filter(extract("month",Measurement.date)==6)

In [9]:
#june_df = df['date'].date.month.between(6,6)
#june_df = df.loc[df['date'].date.month.between(6,6)]
#print(june_df)
#print(june_df.to_string(index=False))

#create new df for list of temps from June

   June Temperatures
0               78.0
1               76.0
2               78.0
3               76.0
4               77.0

In [5]:
#  3. Convert the June temperatures to a list.
results_list = [temperature.tobs for temperature in results]
#print(results_list)

In [10]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results_list, columns=['June Temperatures'])
june_df.head()

   June Temperatures
0               78.0
1               76.0
2               78.0
3               76.0
4               77.0

In [11]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

## D2: Determine the Summary Statistics for December

In [12]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_results = []
dec_results = session.query(Measurement).filter(extract("month",Measurement.date)==12)

In [17]:
# 7. Convert the December temperatures to a list.
dec_results_list = [temperature.tobs for temperature in dec_results]
#print(dec_results_list)

In [15]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results_list, columns=['December Temperatures'])
dec_df.head()

   December Temperatures
0                   76.0
1                   74.0
2                   74.0
3                   64.0
4                   64.0

In [16]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000

In [22]:
#must create 2 additional weather queries for the write up

#calculate precipitation statistics for June
june_prec = []
june_prec = session.query(Measurement).filter(extract("month",Measurement.date)==6)
june_prec_list = [precipitation.prcp for precipitation in june_prec]
#print(june_prec_list)
june_prec_df = pd.DataFrame(june_prec_list, columns=['June Precipitation'])
#june_prec_df.head()
june_prec_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [23]:
#calculate precipitation statistics for December
dec_prec = []
dec_prec = session.query(Measurement).filter(extract("month",Measurement.date)==12)
dec_prec_list = [precipitation.prcp for precipitation in dec_prec]
#print(dec_prec_list)
dec_prec_df = pd.DataFrame(dec_prec_list, columns=['December Precipitation'])
#dec_prec_df.head()
dec_prec_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000